<nav class="navbar" data-aos="fade-down">
  <div class="container">
    <a href="#home" class="logo">
      Saransh Golash<span>.</span>
    </a>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="https://github.com/saranshgolash" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/saransh-golash/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      <li><a href="https://instagram.com/saranshgolash" target="_blank" rel="noopener noreferrer">Instagram</a></li>
    </ul>
  </div>
</nav>